main {
    width: 103px;
    display:flex; 
    flex-wrap: wrap;
}
div {
    width:35px;
    height:35px;
    border:1px solid #999;
    box-sizing: border-box;
    margin: 0 -1px -1px 0;
    background-color: #fff;
    text-align: center;
    line-height: 35px;
}